<!DOCTYPE html>
<html class="no-js">
<% include partials/head.ejs %>
<body id="generate" style="zoom: 1;">
<% include partials/banner.ejs %>

  <div class="private">

    
    
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Cannot burn!</strong>
      The secret has already been viewed (about 50 seconds ago).
      
    </div>

    <a class="btn btn-block btn-large cufon" href="/">Back</a>



  </div>


  <hr>


<% include partials/footer_scripts.ejs %>


</body></html>