<!DOCTYPE html>
<html class="no-js">
<% include partials/head.ejs %>
<body id="" style="zoom: 1;">
<% include partials/banner.ejs %>

  <div class="row-fluid">
    <div class="span12">
      <h3 class="cufon">Unknown Secret</h3>

      

    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <a class="btn btn-large btn-block btn-custom cufon" href="/">Share a secret of your own</a>
    </div>
  </div>


  <hr>



<% include partials/footer_scripts.ejs %> 


</body></html>