<!DOCTYPE html>
<html class="no-js">
<% include partials/head.ejs %>
<body id="generate" style="zoom: 1;">
<% include partials/banner.ejs %>
<div class="shared">
    <span class="pretext cufon">Click to continue:</span><br>
    <% if (locals.passwordError) { %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oops!</strong> Double check that passphrase
      </div>
    <% } %>
    <div class="passphrase">
      <form method="POST">
        <input name="continue" type="hidden" value="true">
        <fieldset>
        <% if (locals.requirePassword) { %>
          <div class="control-group">
            <div class="controls">
              <input type="password" name="password" id="passField" class="input-large" value="" placeholder="Enter the passphrase here">
            </div>
          </div>
        <% } %>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-large btn-block btn-custom cufon">View Secret</button>
          </div>
        </div>
      
      <p class="lighter">(careful: we will only show it once.)</p>
    </fieldset></form></div>
  </div>


  <hr>

  <div id="footer">

  </div>

<% include partials/footer_scripts.ejs %>



</body></html>