<!DOCTYPE html>
<html class="no-js">
<% include partials/head.ejs %>
<body id="generate" style="zoom: 1;">
<% include partials/banner.ejs %>
  <div class="shared">
    <div class="secret">
      <div class="pretext">This message is for you:</div>

      <textarea class="input-block-level" readonly="readonly" rows="4"><%= secret %></textarea>

      <p class="lighter">(careful: we will only show it once.)</p>


    </div>
    <ul class="nav">
      <li class="alt">
        <a class="btn btn-large btn-block cufon" href="/">Reply with another secret</a>
      </li>
    </ul>
  </div>


  <hr>

  <div id="footer">

  </div>


<% include partials/footer_scripts.ejs %> 


</body></html>